body{
	margin: 0;
	font-family: 'helvetica', 'Arial', sans-serif;
	font-size: 20px
}

header{
	background-color: #87CEFA;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Staatliches', cursive;
}

header h1{
	color: white;
	font-size: 70px
}

header img{
	border-radius: 170px;
	width: 300px;
    border: 5px solid black;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px 20px 20px 20px;
}

main img{
	max-width: 100%;

}

h2{
	font-size: 40px;
	color: #87CEFA;
}

a{
	color: #1E90FF;
}
a:hover{
	color: MIDNIGHTBLUE;
	background-color: MEDIUMSLATEBLUE;
}

footer{
	background-color: #87CEFA;
	text-align: center;
	color: white;
}


footer p{
	margin: 0; 
}

footer a{
	color: white;
}

footer a:hover{
	opacity: .5;
	background-color: transparent;
}